.v-application {
  margin-top: -20px;
  padding-top: 40px;
}
.spline {
  
  height: 60%;
}


canvas {
  display: block;
}

.img {
  margin-top: 65%;
  margin-bottom: 10%;
}

.theme--light .v-footer {
  color: white;
  background-color: #d66f9a;
}

.vid1 {
  padding-right: 3%;
}